body {
  width: clamp(320px, 100%, 85ch);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#root {
  width: 100%;
}

header {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-block: 3rem;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #04972c;
}